---
import {
  NewerOlderPagination,
  PaginationHeader,
} from '@/components/Pagenation';

import { Section } from '@/components/Section';
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';
import {getSectionTitle} from "@/components/Title"
import { Tags } from '@/utils/Tag';
import { BlogPage } from '@/types/IBlogPage';
import {BlogGallery} from "@/components/BlogGallery";

interface Props {
  page: BlogPage;
  preTitle?: string|number; 
  contentCategory: string;
  contentDescription: string;
}

const { page, preTitle, contentCategory, contentDescription } = Astro.props as Props;
const titleSuffix = ` - ${AppConfig.site_name}`;
const titleBase = preTitle ? `${preTitle} / ${contentCategory} p.${page.currentPage}` : `${contentCategory} p. ${page.currentPage}`;
const title = titleBase + titleSuffix;
const sectionTitle = getSectionTitle(preTitle, contentCategory);

const tags: Tags = {
  "Zenn": "bg-sky-300 text-black"
}

---

<Base head={{ title, description: contentDescription }}>
  <Section>
    <PaginationHeader title={sectionTitle} description={contentDescription} />
  </Section>

  <Section>
    <BlogGallery page={page} tags={tags}/>
  </Section>

  <Section>
    <NewerOlderPagination page={page} />
  </Section>
</Base>
