---
import {
  NewerOlderPagination,
  PaginationHeader,
} from '@/components/Pagenation';
import { PostGallery } from '@/components/PostGallery';
import { Section } from '@/components/Section';
import { Tag } from '@/components/Tag';
import { getSectionTitle } from '@/components/Title';
import { Year } from '@/components/Year';
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';
import { readTags } from '@/utils/Tag';
import { readYears } from '@/utils/Year';

// interface Props {
//   page: ArticleFrontmatterPage;
//   preTitle?: string | number;
//   contentCategory: string;
//   contentDescription: string;
//   contents: CollectionEntry<'posts'>[];
// }

const { page, preTitle, contentCategory, contentDescription } =
  Astro.props;
const titleSuffix = ` - ${AppConfig.site_name}`;
const titleBase = preTitle
  ? `${preTitle} / ${contentCategory} p.${page.currentPage}`
  : `${contentCategory} p. ${page.currentPage}`;
const title = titleBase + titleSuffix;
const sectionTitle = getSectionTitle(preTitle, contentCategory);

const tags = (await readTags())[contentCategory.toLowerCase()];
if (tags === undefined) {
  throw new Error('readed tags is undefined');
}

const years = (await readYears())[contentCategory.toLowerCase()];
if (years === undefined) {
  throw new Error('readed years is undefined');
}
---

<Base head={{ title, description: contentDescription }}>
  <Section>
    <PaginationHeader title={sectionTitle} description={contentDescription} />
    <div class="mt-4 flex flex-wrap justify-center gap-2">
      {
        tags &&
          Object.keys(tags).map((tagName) => (
            <Tag
              name={tagName}
              color={tags[tagName]}
              contentCategory={contentCategory}
            />
          ))
      }
    </div>
    <div class="mt-4 flex flex-wrap justify-center gap-2">
      {
        years.map((year) => (
          <Year year={year.toString()} contentCategory={contentCategory} />
        ))
      }
    </div>
  </Section>

  <Section>
    <PostGallery
      postList={page.data}
      tags={tags}
      contentCategory={contentCategory}
    />
  </Section>

  <Section>
    <NewerOlderPagination page={page} />
  </Section>
</Base>
