---
import type { CollectionEntry } from "astro:content";
import type { MarkdownHeading } from "astro";
import { getCollection } from "astro:content";
import { SocialLinks } from '@/components/SocialLinks/index';
import { ContentPost } from "@/partials/ContentPost";
import Base from '@/templates/Base.astro';
import { AppConfig } from "@/utils/AppConfig";
import { getCommitHistories } from "@/utils/CommitHistories";
import * as Static from "@/utils/StaticPages";
import { readTags } from "@/utils/Tag";
import { getSimilarPosts } from "@/utils/TextSimilarity";

const tags = await readTags();

const title = `${Static.History.data.title} - ${AppConfig.site_name}`;

const markdownHeadings: MarkdownHeading[] = [
  { depth: 2, slug: "名前", text: "名前" },
  { depth: 2, slug: "はじめに", text: "はじめに 🏃" },
  { depth: 2, slug: "よく使う技術", text: "よく使う技術 🔧" },
  { depth: 2, slug: "経歴", text: "経歴 👶" },
  { depth: 3, slug: "職歴", text: "職歴 🏢" },
  { depth: 3, slug: "学歴", text: "学歴 🎓" },
  { depth: 3, slug: "その他歴", text: "その他歴 📅" },
  { depth: 2, slug: "保有資格", text: "保有資格 🛂" },
  { depth: 2, slug: "各種リンク", text: "各種リンク 🔗" },
  { depth: 3, slug: "SNS", text: "SNS" },
  { depth: 3, slug: "Blog", text: "Blog" },
  { depth: 3, slug: "Slide", text: "Slide" },
  { depth: 3, slug: "Career", text: "Career" },
];

const entries = await getCollection("posts", ({ data }) => data.draft !== true);
const similars = getSimilarPosts(
  {
    ...Static.History,
    body: markdownHeadings.map((h) => `${h.slug} ${h.text}`).join(" "),
  },
  entries,
);
const filePath = "src/pages/posts/history.astro";
const histories = await getCommitHistories(filePath);
---

<Base
  head={{
    title,
    description: Static.History.data.description!,
  }}
>
  <ContentPost
    frontmatter={Static.History as unknown as CollectionEntry<"posts">}
    contentCategory={"Posts"}
    headings={markdownHeadings}
    tags={tags.posts}
    similars={similars}
    histories={histories}
  >
      <h2>名前</h2>
      <p>平木場 風太（Futa Hirakoba）</p>

      <h2>はじめに 🏃</h2>
      <p><strong>全ての社内エンジニアの開発生産性を上げたい</strong>民です。</p>
      <p>生産性が上がることで、作業できる量が増えるだけでなく、気持ちよく働くことにつながります。<br />
      社内エンジニア全ての開発生産性を上げることで、離職率低下や売り上げ増加（≒給料アップ）につながると考えています。<br />
      僕はあらゆるエンジニアが困っている面倒ごとを解決していくことで全体の開発生産性を上げていきたいです。</p>

      <p><strong>エンジニアとして心がけていること</strong>:</p>
      <ul>
        <li>トレーサビリティの維持（ドキュメント作成時や他人とやり取りする際は特に）</li>
        <li>できうる限りはコードで管理</li>
        <li>継続的に外部発信</li>
        <li>継続的に新技術などを探求</li>
        <li>全てを自動化することが正義ではない</li>
      </ul>

      <h2>よく使う技術 🔧</h2>
      <ul>
        <li>TypeScript, Go</li>
        <li>Terraform, Serverless Framework, CDK</li>
        <li>GitHub Actions</li>
      </ul>

      <p>もっと詳しく知りたい場合は次をご覧ください。</p>
      <ul>
        <li><a href="https://github.com/korosuke613/" target="_blank" rel="noopener noreferrer">GitHub</a></li>
        <li><a href="https://lapras.com/public/korosuke613" target="_blank" rel="noopener noreferrer">LAPRAS 公開ポートフォリオ</a></li>
        <li><a href="https://findy-code.io/share_profiles/VIEfTIdxGcZ8K" target="_blank" rel="noopener noreferrer">Findy 職務経歴書</a></li>
      </ul>

      <h2>経歴 👶</h2>

      <h3>職歴 🏢</h3>

      <h4>正社員</h4>
      <ul>
        <li><strong>2020/04~</strong>: <a href="https://cybozu.co.jp/" target="_blank" rel="noopener noreferrer">サイボウズ株式会社</a> 開発本部 生産性向上チーム</li>
        <li><strong>2024/10~</strong>: <a href="https://cybozu.co.jp/" target="_blank" rel="noopener noreferrer">サイボウズ株式会社</a> 開発本部 生産性向上チーム マネージャー（正確には開発本部 技術支援部 副部長）</li>
      </ul>

      <h4>インターン</h4>
      <ul>
        <li><strong>2019/02~2019/03</strong>: 株式会社リクルートライフスタイル（エンジニアインターン）
          <ul>
            <li>受け入れテスト環境を自動構築することによる環境構築時間短縮</li>
            <li>利用技術: AWS(CodeBuild, ECR, ECS, Fargate, API Gateway, Lambda, Device Farm)</li>
          </ul>
        </li>
      </ul>

      <h4>アルバイト</h4>

      <h5>ソフトウェアエンジニア</h5>
      <ul>
        <li><strong>2017/12~2020/03</strong>: 国立大学法人 宮崎大学 フロンティア科学実験総合センター/医学部
          <ul>
            <li>所属
              <ul>
                <li><strong>2019/11~2020/03</strong>: 医学部（解剖学講座医学生物学分野 技術補佐員）</li>
                <li><strong>2017/12~2019/10</strong>: フロンティア科学実験総合センター（実験支援部門 RI 分野 RI 清武分室 技術補佐員）</li>
              </ul>
            </li>
            <li>やったこと
              <ul>
                <li>RNA データベースサービス <a href="http://snoopy.med.miyazaki-u.ac.jp/" target="_blank" rel="noopener noreferrer">snOPY</a> の改善・保守
                  <ul>
                    <li>snOPY の Docker コンテナ化</li>
                    <li>定期的な自動バックアップ化</li>
                  </ul>
                </li>
                <li>リボゾームデータベースサービス <a href="http://ribosome.med.miyazaki-u.ac.jp/" target="_blank" rel="noopener noreferrer">RPG</a> の新機能追加・改善</li>
                <li>研究室内 Wiki の構築
                  <ul>
                    <li>バックアップ・リストア方法の文書化</li>
                  </ul>
                </li>
                <li>技術的な質問への回答など (パソコンの先生)</li>
              </ul>
            </li>
            <li>利用技術: Perl, Docker, Apache, <a href="https://github.com/weseek/growi" target="_blank" rel="noopener noreferrer">GROWI</a></li>
          </ul>
        </li>
      </ul>

      <h5>その他</h5>
      <ul>
        <li><strong>2017/02~2020/03</strong>: ローソン宮崎大学病院店（店員）</li>
        <li><strong>2014/05~2016/01</strong>: タイヨー清武店 酒のベリーマッチ（店員）</li>
      </ul>

      <h3>学歴 🎓</h3>
      <ul>
        <li><strong>2018~2020</strong>: 宮崎大学大学院 <a href="http://www.miyazaki-u.ac.jp/tech/departments/master.html" target="_blank" rel="noopener noreferrer">工学研究科</a> 機械・情報系修士課程 - 片山(徹)研究室</li>
        <li><strong>2014~2018</strong>: <a href="http://www.miyazaki-u.ac.jp/" target="_blank" rel="noopener noreferrer">宮崎大学</a> <a href="http://www.miyazaki-u.ac.jp/tech/" target="_blank" rel="noopener noreferrer">工学部</a> <a href="http://www.cs.miyazaki-u.ac.jp/new2012/" target="_blank" rel="noopener noreferrer">情報システム工学科</a> - <a href="http://earth.cs.miyazaki-u.ac.jp/" target="_blank" rel="noopener noreferrer">片山(徹)研究室</a></li>
        <li><strong>2011~2014</strong>: <a href="http://www.edu.pref.kagoshima.jp/sh/Kagoshima-T/" target="_blank" rel="noopener noreferrer">鹿児島工業高校</a> 情報技術系</li>
      </ul>

      <h3>その他歴 📅</h3>
      <ul>
        <li><strong>2014~2015</strong>: 宮崎大学国際交流宿舎会計</li>
        <li><strong>2015~2016</strong>: 宮崎大学国際交流宿舎寮長</li>
        <li><strong>2014~2018</strong>: 宮崎県学生献血推進協議会</li>
      </ul>

      <h2>保有資格 🛂</h2>
      <ul>
        <li><strong>2011</strong>: 危険物取扱者試験乙四類</li>
        <li><strong>2012</strong>: 第二種電気工事士</li>
        <li><strong>2012</strong>: 第二級海上特殊無線技士</li>
        <li><strong>2015</strong>: 普通自動車免許 -> 現 準中型自動車免許（5t）</li>
        <li><strong>2012</strong>: 基本情報技術者</li>
        <li><strong>2018</strong>: 応用情報技術者</li>
        <li><strong>2023</strong>: <a href="/posts/20231231_certificate_scrum_master">認定スクラムマスター (Certified ScrumMaster)</a></li>
        <li><strong>2024</strong>: <a href="/posts/20241224_github_cert_actions">GitHub Certification Program - Actions</a></li>
      </ul>

      <h2>各種リンク 🔗</h2>
      <SocialLinks type="Other" />

      <h3>SNS</h3>
      <SocialLinks type="SNS" />

      <h3>Blog</h3>
      <SocialLinks type="Blog" />

      <h3>Slide</h3>
      <SocialLinks type="Slide" />

      <h3>Career</h3>
      <SocialLinks type="Career" />
  </ContentPost>
</Base>